Library/ArtifactDB
Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/GameAssembly.a
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/burst-llvm-15.dll
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/hostmac/dsymutil
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-10.dylib
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-15.dylib
Library/PackageCache/com.unity.burst@1.8.11/.Runtime/libburst-llvm-15.so
Library/SourceAssetDB